<section>
    <div class="head-bar">
        <div class="site-bar">
            <ul class="userinfos">
                <li><em>10860533</em> 位会员的选择 </li>
                <a href="http://127.0.0.1/yemai/html/login.html"><li>登录</li></a> 
                <a href="http://127.0.0.1/yemai/html/register.html"><li class="line">注册</li></a>
            </ul>
            <ul class="sitelinks">
                <li>会员俱乐部</li>
                <li class="line"><b>签到</b></li>
                <li class="line"><span class="down">我的账户</span></li>
                <li class="line"><span class="mobile">手机版</span></li>
                <li class="line"><b>设置勿扰</b></li>
            </ul>
        </div>
    </div>

    <div class="head-main">
        <div class="head-logo">
            <a href="//www.yesmywine.com/" class="logo-site" data-dts="ID2" group1="ad" group2="1443">也买酒</a>
        </div>
        <span class="reg-gift"
            style=" width: 163px; height: 100px; margin: 0px; background: transparent url(https://img03.yesmyimg.com/gede/tt/event/2018/pc_topImg/tips_logo.png) no-repeat 0px 0px;float: left;"
            group1="ad"></span><a href="https://www.yesmywine.com/o2o/storeList.jspa?dts=IN.9.0" target="_blank"
            group1="ad"><img group1="ad" src="http://img04.yesmyimg.com/gede/tt/event/2018/10/tSign/t_Sign.gif"
                style="margin-top: 0px; opacity: 1;"></a>
        <div class="head-right">
            <div class="head-search">
                <form id="headSearch" data-dts="I1" name="headerSearch" action="//list.yesmywine.com/z1"
                    target="_blank">
                    <input type="text" class="txt-keyword" maxlength="50" name="q" style="color: rgb(204, 204, 204);">
                    <input type="submit" class="btn-search" value="搜索">
                </form>
                <p data-dts="I2">
                    <a href="https://a.yesmywine.com/grandcru/xinpin" rel="nofollow" title="2018期酒在线发售"
                        target="_blank">2018期酒在线发售</a>
                    <a href="https://list.yesmywine.com/z1?q=茅台" rel="nofollow" title="陈年茅台" target="_blank">陈年茅台</a>
                    <a style="display:none; " class="hotSearchKeyChenDu"
                        href="//www.yesmywine.com/marketing/topic/016731/016731.html" rel="nofollow" title="成都闪电送"
                        target="_blank">成都闪电送</a>
                </p>
            </div>

            <div class="head-shopcart" data-dts="C1">
                <a href="//www.yesmywine.com/cart4/showCart.jspa" class="btn-shopcart" rel="nofollow">购物车</a>
                <span class="txt-cartcount" style="display: inline;">0</span>
                <div class="shopcart-list">
                    <ul data-dts="C3"></ul>
                    <div class="shopcart-sum"><a data-dts="C2" href="http://www.yesmywine.com/cart2/showCart.jspa"
                            class="btn-viewcart">查看购物车</a>
                        <p>共<em>0</em>件商品<br>总计： ¥<strong>0.0</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>